[package]
name = "wake"
description = "Custom build tool for the In Silico project"
version = "1.0.0"
edition = "2021"

[dependencies]
clap = { version = "3.2.25", features = ["derive"] }
env_logger = "0.11.3"
httparse = "1.9.4"
log = "0.4.22"
tokio = {version = "1.38.1", features = ["full"]}
